@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;700&display=swap");

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.cdnfonts.com/s/56767/GoogleSansRegular.woff")
    format("woff");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.cdnfonts.com/s/56767/GoogleSansBold.woff")
    format("woff");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: "Google Sans", "Noto Sans Thai", "Roboto", "Arial", sans-serif;

  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);
}
